.navbar {
  display: inline-flex;
  flex-direction: row;
}

.navbar-child {
  margin: auto;
}

.navbar-button {
  background: #8c3838;
  font-size: 1.25rem;
  border: none;
  padding: 10px;
  height: 65px;
}

.navbar-button:hover {
  color: #540000;
  background: white;
}
