/* You can add global styles to this file, and also import other style files */
.base-container {
  font-family: Arial;
  background: grey;
  padding: 10px 10px 10px 10px;
}

body { background: lavender; }
