* {
  box-sizing: border-box;
  font-family: Arial;
  font-size: 1.05rem;
  color: white;
}

html, body {
  background: #540000;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #540000;
  background: white;
}

.banner-container {
  background: #8c3838;
  width: 100%;
}
